.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 20px;
}

.Home__wrapper {
  height: 80%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px wheat;
  transition: box-shadow 1000ms;
}

.Home__wrapper:hover {
  box-shadow: 0 0 40px 2px wheat;
  transition: box-shadow 1000ms;
}